<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.ErrorHandling" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.1.0" newVersion="1.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Maths" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.21.0.0" newVersion="3.21.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Duco.Processing" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.2.0" newVersion="3.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.DataStructures" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.25.0.0" newVersion="1.25.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Globalization" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.1.0" newVersion="1.5.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.PropertyChangedNotification" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Rendering" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.36.0.0" newVersion="4.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Geometry3D.DataStructures" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.35.0.0" newVersion="2.35.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Win32" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.RenderEngine" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.36.0.0" newVersion="4.36.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Geometry3D.Operations" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.51.1.0" newVersion="1.51.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Geometry3D.Rendering" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ThreeShape.Duco.Shared.SceneControls" publicKeyToken="215fdb49399d1d6d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.3.0.0" newVersion="7.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>